<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{{ path('post_index') }}">
                    Actualités
                </a>
                <a class="nav-link" href="{{ path('post_index') }}">
                    Présentation du client
                </a>
                <a class="nav-link" href="{{ path('post_index') }}">
                    Contact
                </a>
            </div>
        </div>
    </nav>
</div>