<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ path('home') }}">UE 3DW22</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        {% if not app.user %}
        <li class="nav-item ">
            <a class="btn btn-success" href="{{ path('app_login') }}" role="button">Connexion</a>
        </li>
        <li class="nav-item mx-2 ">
            <a class="btn btn-primary " href="{{ path('inscription') }}" role="button">inscription</a>
        </li>
        {% else %}
        <li class="nav-item ">
            <a class="btn btn-danger " href="{{ path('app_logout') }}" role="button">Se déconnecter</a>

        </li>
        {% endif%}
    </ul>
</nav>