{% extends 'base.html.twig' %} {% block body %}
<div class="container mt-4">
    <div class="card bg-light mb-3">
        <div class="jumbotron text-center mx-auto">
            <h1 class="display-4 mt-4">UE 3DW22 - Diversification des langages</h1>
            <p class="lead">Bienvenu dans votre bibliothèque</p>
            <a class="btn btn-primary" href="{{ path('app_logout') }}" role="button">Log out</a>
            <a class="btn btn-success" href="{{ path('app_login') }}" role="button">Log in</a>
            <a class="btn btn-danger" href="{{ path('inscription') }}" role="button">inscription</a>
            <hr class="my-4">
        </div>
    </div>
</div>
{% endblock %}