<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <title>UE 3DW22</title>
</head>
<body>
<div class="jumbotron">
   <h1 class="display-4">UE 3DW22 - Diversification des langages</h1>
   <p class="lead">Système de connexion  et de création d'un compte</p>
   <hr class="my-4">
</div>
</body>
</html>