{% extends 'base.html.twig' %} {% block body %}
<div class="container mt-4">
    <div class="card bg-light mb-3">
        <div class="jumbotron text-center mx-auto">
            <h1 class="display-4 mt-4">Présentation du client</h1>
            <p class="lead">Le client souhaite promouvoir l’activité de son entreprise et pour cela il voudrait avoir à disposition un site web lui offrant les meilleures opportunités pour communiquer auprès de ces clients et proposer des programmes d’actualités suffisamment
                performant.
            </p>
            <hr class="my-4">
        </div>
    </div>
</div>
{% endblock %}